@model BankaProjekat.Models.ViewModels.UpdateKorisnik
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1> Edit Korisnik</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post" action="Edit">

        <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label">Ime</label>
            <input type="text" class="form-control" asp-for="Ime" />
        </div>

        <div class="mb-3">
            <label class="form-label">Prezime</label>
            <input type="text" class="form-control" asp-for="Prezime" />
        </div>

        <div class="mb-3">
            <label class="form-label">Maticni broj</label>
            <input type="text" class="form-control" asp-for="MaticniBroj" />
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Email" />
        </div>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" asp-for="Username" />
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" asp-for="Password" />
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Update</button>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark"
                    asp-action="Delete"
                    asp-controller="Korisnik">
                Delete
            </button>
        </div>
    </form>
</div>
